@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #F6F1E9;
}

header {
    margin: 2rem auto;
    width: min(90%, 1200px);
    text-align: center;
    background-color: #1F4B43;
    color: #FFFFFF;
    border-radius: 2rem;
    padding: 1rem;
}

.container {
    width: min(90%, 1200px);
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
}

.add-task {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add-task input {
    border-radius: 1rem;
    min-width: 60%;
    padding: 0.8rem;
    border: 2px solid#D9D1C2;
    background-color: beige;
    color: #7A6F63;
    font-size: 1rem;
    font-weight: 400;
}

.add-task input:focus {
    outline: none;
}

.add-task button {
    border-radius: 1rem;
    border-style: none;
    width: 80px;
    padding: 0.5rem;
    background-color: #1F4B43;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-task button:hover {
    background-color: #16362F;
    color: #FFFFFF;
    transform: scale(1.05);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.column {
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    border: 2px solid black;
    padding: 1rem;
    position: relative;
    isolation: isolate;
    color:#221D1A;
}

.column::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(8px, 8px);
    border-radius: 0.75rem;
    z-index: -1;
}

.todo {
    background-color: #a5bdc7;
}

.todo::before {
    background-color: #BFD0E0;
    border: 2px solid#7d7f95;
}

.doing {
    background-color: #958b9f;
}

.doing::before {
    background-color: #664b6a;
    border: 2px solid#401F3E;
}

.done {
    background-color: #95979F;
}

.done::before {
    background-color: #1F4B43;
    border: 2px solid#A9ABB1;
}

.column h2 {
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(156, 149, 141);
}

.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-track {
    background: transparent;
}

.task-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.task-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    background-color: aliceblue;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.task-card button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn,
.tick-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.task-actions {
    display: none;
}

.move-btn img,
.delete-btn img,
.tick-btn img {
    width: 1.5rem;
}

.edit-btn img {
    width: 1.2rem;
}

.task-card:hover .task-title {
    display: none;
}

.task-card:hover .task-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.task-update {
    flex: 1;
    min-width: 0;
    border-style: none;
    background: none;

}

.task-update:focus {
    outline: none;
}

@media (max-width: 800px) {
    .board {
        display: flex;
        flex-direction: column;
    }

    .task-card:hover .task-title {
        display: block;
    }

    .task-card:hover .task-actions {
        display: none;
    }

    .task-card.active .task-title {
        display: none;
    }

    .task-card.active .task-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
    }
}